.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    box-sizing: border-box;
    
    width: 1100px;
    height: 293px;
    padding: 95px 50px 100px;    

}

.header-nav {
    display: flex;
    gap: 32px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: circle;
}

.unique {
    list-style: none;
}

.header-logo {
    width: 148px;
    height: 105px;
    
}

.contacts-header {
    justify-self: end;
    max-width: 240px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    

}

.cover {
    top: 293px;
    width: 1100px;
    background-image: url(images/cover.jpg);
    background-size: cover;
    position: relative;

}

.overlay {
    background-color:#000000;
    position: absolute;
    width: 1100;
    opacity: 0.6;

}

.main-title {
    display:grid;
    grid-template-columns: repeat(3, 1fr);

}

.lots {
    
    top: 1230px;
    left: 24px;
    width: 1052px;
    height: 723px;
    


}

.lots-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 25px;
    list-style-type: none;
}

.movie,
.book,
.picture {
    width: 334px;
    height: 596px;
    background-size: cover;

}
.movie {
    background-image: url(images/card-lot-01.jpg);
    
}

.book {
    background-image: url(images/card-lot-02.jpg);
}

.picture {
    background-image: url(images/card-lot-03.jpg);
}

.about {
    top: 2073px;
    left: 24px;
    display: grid;
    grid-template-columns: 240px 693px;
    width: 1052px;
    height: 595px;
    
    


}

.footer {
    top: 2848px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: contacts-footer footer-nav socials;
    justify-items: center;
    justify-content: space-around;
    
    width: 1100;
    height: 180;
    
}


.socials {
    display: flex; 
}

