.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 95px 50px 100px;  
     
}

.header-nav {
    display: flex;
    gap: 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: circle;
}

.unique {
    list-style: none;
}

.header-logo {
    width: 129.11196899414062px;
    height: 104.6517562866211px; 
}

.header-contacts {
    justify-self: end;
    max-width: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

/* Здесь начинаются стили для первой секции*/

.cover {
    position: relative;
    box-sizing: border-box;
    padding-top: 165px;
    padding-bottom: 50px;
    background-image: url(images/cover.jpg);
    background-size: cover;
    height: 757px;
}

.cover-title {
    position: relative;
    z-index: 1;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    width: 1000px;
    height: 385px;
    margin: auto 50px 106px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 0.3em;
    text-transform: uppercase;   
}

.aligned-text {
    display: flex;
    justify-content: start; 

}

.aligned-text_center {
    display: flex;
    justify-content: center;
    
}

.aligned-text_right {
    display: flex;
    justify-content: end;
    margin-right: -0.3em;
}

.description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 51px;
    margin-right: 50px;
    margin-left: 50px;
}

.description-article {
    color: #FFFFFF;    
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.normal-spacing-description {
    word-spacing: 22px;
}

.small-spacing-description {
    position: relative;
    left: 16px;
    word-spacing: 16px;
}

.big-spacing-description {
    position: relative;
    left: 36px;
    word-spacing: 16px;
}
.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}


/* Этот оверлей задействован и в секции с лотами тоже */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color:#000000;
}

/* Здесь начинаются стили для секции с лотами */

.lots {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1052px;  
    margin: 180px 24px 120px; 
}

.lots-main-title {
    position:relative;
    left: 40px;
    width: 121px;
    height: 47px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.lots-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25px;
    list-style-type: none;
}

.lots-list-article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}


.card-link {
    text-decoration: none;
}

.card-link,
.lots-list-article {
    width: 100%;
    height: 100%;
}

.lots-title {
    position: relative;
    z-index: 1;
    margin: 48px 40px auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-transform: uppercase;
}

.lots-text {
    position: relative;
    z-index: 1;
    box-sizing: border-box; 
    margin: auto 40px 48px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
} 

.lots-movie,
.lots-book,
.lots-picture {
    width: 334px;
    height: 596px;
    background-size: cover;
}



.lots-movie {
    background-image: url(images/card-lot-01.jpg);
    background-position: center;
    
}

.lots-book {
    background-image: url(images/card-lot-02.jpg);
    background-position: center;
}

.lots-picture {
    background-image: url(images/card-lot-03.jpg);
    background-position: center;
}

.lots__look-more-link {
    position: relative;
    left: 40px;
    width: 192px;
    height: 25px;
    margin-top: 30px; 
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-decoration-thickness: 1px;
}

/* Здесь начинаются стили для секции about*/

.about {
    display: grid;
    grid-template-columns: 334px auto;
    width: 1052px;
    min-height: 595px;
    margin: auto 24px 180px;
}

.about-logo {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    border-radius: 50%;
    background-color: #000000;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-article {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 693px;
    min-height: 449px;
    margin-top: 133px;
}

.about-title {
    height: 47px;
    margin-top: 3px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.about-text {
    width: 693px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.about-text-spesial-margin {
    margin-bottom: 24px;
}
/* Здесь начинаются стили для футера */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: contacts-footer footer-nav socials;
    justify-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 180px;
    margin: auto 50px auto;
}

.foote-contacts {
    justify-self: start;
    max-width: 264.573486328125;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

.footer-nav {
    text-align: center;
    list-style: none;
}

.socials {
    display: flex;
    justify-content: space-between; 
    width: 240px; 
    list-style: none;
}

.socials-logo {
    width: 48px;
    height: 48px;
}
